/*
  Table of Contents
    1. General
    2. Main Header
    3. Gallery Section
    4. Homepage Hook
    5. Contact Section
    6. Main Footer
    7. Colors & Borders
    8. Media Queries
*/

/***********************************
1. GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
	line-height: 1.5;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
	max-width: 100vw;
}

img {
	max-width: 100%;
}

.uppercase {
	text-transform: uppercase;
}

.overlay,
.main-footer {
	padding: 0 4%;
}

.bg-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

.hidden-sm {
	display: none;
}

.home-btn {
	display: flex;
	font-size: 0.7em;
	padding: 0.25em 0;
	width: 15em;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2em;
}

.home-btn > :first-child {
	margin-right: 1em;
}

.main-content {
	font-size: 1rem;
}


/***********************************
2. MAIN HEADER
***********************************/

.main-header-wrap {
	background-image: url('../assets/img/banner.jpg');
	min-height: 23em;
	font-size: 1.2rem;
	font-weight: 600;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 1em -1% 1em;
	font-size: 0.9em;
	letter-spacing: 0.2em;
}

.logo-hook,
.site-logo {
	padding: 0.325em;
	font-size: 0.875em;
}

#nav-hook {
	background: transparent;
}

.nav-bar {
	margin-right: -2.4em;
	margin-top: -0.45em;
}

.banner {
	padding: 0 0.6em;
}

.banner h1 {
	font-size: 1.6em;
	border-bottom: 2px solid #fff;
	padding-bottom: 0.3em;
}

.banner p {
	font-size: 0.65em;
	letter-spacing: 0.1em;
	margin: 2em 0;
}





/***********************************
3. GALLERY SECTION
***********************************/

.gallery {
	display: grid;
	grid-template-rows: repeat(6, 20em);
}

.gallery > div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: box-shadow 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 6.5%;
}

.gallery > div:hover {
	box-shadow: none;
}

.gallery h2 {
	border-bottom: 2px solid #fff;
	margin: 0;
	padding-bottom: 0.25em;
	width: 6.775em;
}

.gallery p {
	font-size: 0.7em;
	margin: 1em 0 0;
	letter-spacing: 0.2em;
	font-weight: 600;
	text-transform: uppercase;
}

.gallery-img1 {
	box-shadow: 0 20em rgba(111, 195, 223, 0.85) inset;
	background-image: url(../assets/img/gallery-img-01.jpg);
}

.gallery-img2 {
	box-shadow: 0 -20em rgba(141, 130, 196, 0.85) inset;
	background-image: url(../assets/img/gallery-img-02.jpg);
}

.gallery-img3 {
	box-shadow: 0 20em rgba(236, 141, 129, 0.85) inset;
	background-image: url(../assets/img/gallery-img-03.jpg);
}

.gallery-img4 {
	box-shadow: 0 -20em rgba(231, 183, 136, 0.85) inset;
	background-image: url(../assets/img/gallery-img-04.jpg);
}

.gallery-img5 {
	box-shadow: 0 20em rgba(142, 169, 232, 0.85) inset;
	background-image: url(../assets/img/gallery-img-05.jpg);
}

.gallery-img6 {
	box-shadow: 0 -20em rgba(135, 197, 164, 0.85) inset;
	background-image: url(../assets/img/gallery-img-06.jpg);
}


/***********************************
4. HOMEPAGE HOOK 
***********************************/

.homepage-hook {
	min-height: 31.25em;
	padding: 3em 4%;
}

.homepage-hook h2 {
	margin-top: 0;
	border-bottom: 2px solid #fff;
	padding-bottom: 0.25em;
	width: 6em;
}

.homepage-hook p {
	line-height: 1.7;
}

.homepage-hook .home-btn {
	margin-top: 3em;
	font-size: 0.825em;
	font-weight: bold;
}



/***********************************
5. Contact Section
***********************************/

.form-container {
	min-height: 30em;
	display: flex;
	border: 1px solid red; /*delete this*/
}



/***********************************
6. MAIN FOOTER
***********************************/



/***********************************
7. COLOR STYLES
***********************************/

/* General */

body {
	background-color: #242943;
}

body,
a {
	color: #fff;
}

a {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
	color: #9bf1ff; 
}

.logo-hook,
.msg-btn {
	background-color: #fff;
	color: #242943;
	transition: background-color 0.2s ease-in-out;
}

.logo-hook:hover,
.msg-btn:hover,
.logo-hook:focus,
.msg-btn:focus {
	background-color: #9bf1ff;
	color: #242943;
}

.home-btn {
	border: 2px solid #fff;
}

.home-btn:hover {
	border-color: #9bf1ff;
}

.arrow {
	transition: all 0.2s ease-in-out;
}

.home-btn:hover .arrow {
	fill: #9bf1ff;
}

/* Main Header */
.main-header-wrap .overlay {
	background-color: rgba(36, 41, 67, 0.85);
}

.nav-bar {
	fill: #fff;
	transition: fill 0.2s ease-in-out;
}

.nav-bar:hover,
.nav-bar:focus {
	fill: #9bf1ff;
}

/* Homepage Hook */
.homepage-hook {
	background-color: #2a2f4a;
}

/***********************************
8. MEDIA QUERIES
***********************************/
