/*
  Table of Contents
    1. General
    2. Main Header
    3. Section
    4. Section
    5. Section
    6. Main Footer
    7. Colors & Borders
    8. Media Queries
*/

/***********************************
1. GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
	line-height: 1.5;
}



/***********************************
2. MAIN HEADER
***********************************/



/***********************************
3. PAGE
***********************************/



/***********************************
4. PAGE
***********************************/



/***********************************
5. PAGE
***********************************/



/***********************************
6. MAIN FOOTER
***********************************/



/***********************************
7. COLORS & BORDERS
***********************************/



/***********************************
8. MEDIA QUERIES
***********************************/
